<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anime</title>
</head>
<body>
    <h1>Detalle de Anime</h1>
    <p>Nombre: {{anime.nombre}}</p>
    <p>Género: {{anime.genero}}</p>
    <p>Año: {{anime.año}}</p>
    <p>Autor: {{anime.autor}}</p>

    <a href="/animes">Volver</a>
</body>
</html>
